body{
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F0BC5E;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: 10;
}
.app-home{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    padding-bottom: 20px;
}
.nav-link{
    color: #000;
}
.active{
    background-color: #000 !important;
}
.container-login{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F0BC5E;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.boxLogin{
    background: #fff;
    width: 400px;
    border-radius: 10px;
    padding: 50px;
}
.lnh{
    line-height: 1;
}
.img-logo-login{
    width: 250px;
}

.ic-left{
    margin-right: 10px;
}
.form-control-app{
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    transition: .2s all;
    color: #1a2129;
    font-size: 17px;
}
.form-control-app:focus{
    outline: none;
    color: #F0BC5E;
    font-weight: 900;
}
.form-control-app::placeholder{
    font-size: 13px;
}
.btn-app{
    background: #1D1D1D;
    color: #fff;
    border-radius: 10px;
}
.alert-erro{
    background: #ED4C67;
    color: #fff;
}

.alert-successo{
    background: #6ab04c;
    color: #fff;
}

.flexTop{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
}
.flexBottom{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0px;
    text-align: center;
}
.logoMiniLeft{
    width: 100px;
}
.box-app{
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.titulo-page{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 900;
    color: #F0BC5E;
}
.img-media{
    width: 300px;
}
.img-info{
    width: 200px;
}
.img-navbar{
    width: 100px;
}
.navbar-app{
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #dad8d8;
}
.strong{
    font-weight: 900;
}
.boxData{
    height: 80px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    position:relative;
    padding: 10px;
}


.modal-header{
    border: none;
}
.modal-footer{
    border: none;
}
.modal-title{
    font-weight: 900;
}

.margin-top-app{
    margin-top: 250px;
}